.pokemon-card {
    margin-top: 1em;
    min-height: 150px;
}

.container {
    width: 30%;
    margin: auto;
    border: solid red 7px;
    border-radius: 10px;
    height: 100%;
    padding: 10px;
    color: rgb(26, 26, 31);

}

.show-data {

    background-color: rgb(241, 241, 241);
    width: 30%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

}

.show-data li {
    list-style: none;
}

.show-data aside {
    width: 50%;
    margin-top: 7px;
}

.stats {
    font-weight: bolder;
}

.img-pkm {
    width: 40%;
}

.view-pkm {
    margin-top: 20px;
}

.view-pkm-link {

    display: inline;
    background-color: red;
    color: #fff;
    border: solid red;
    border-radius: 5px;
    text-decoration: none;
    margin: 30px;
    padding: 4px;
}


@media (max-width: 720px) {
    .container {
        width: 100%;
    }

    .show-data {
        width: 100%;
    }



}