.mainViewPkm {
    width: 100%;
}

.pokemonView {
    height: 40vh;
    background-color: aqua;
    margin: 2em;

}

.view-pokemon-img {
    width: 20%;
}

.main-data-pkm {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;

}

.type-pkm {
    list-style: none;
    color: rgb(160, 160, 160);
    width: 100%;
    font-family: sans-serif;
    font-weight: bolder;
    color: aliceblue;
    text-align: center;
    margin: 3px;
    padding: 2px;
}